$disabled: #928e83;
$disabled-background: #cec6ba;

$primary: #a3ddcb;

$primary-dark: #a9d6c7;

$primary-point: #0fa0ce;

$secondary: #e8e9a1;

$warning: #e5707e;
$warning-dark: #d97d87;

$confirm: #a7c5eb;

$white: #fff;
$font: #333;
$font-dark: #555;

$border-light: #d1d1d1;
$border: #bbb;
$border-dark: #888;

$font-background: #1d1b14;

$main-background-color: $white;
$panel-background: #fff8e5;
// $panel-background: #f6f3e7;
$max-width: 960px;
$tablet-width: 550px;
$mobile-width: 400ppx;
