body {
  background-color: white;
  margin-top: 20px;
}

.app {
}

.mobile {
  background-color: #f6f3e7;
  text-align: center;
  padding: 10px 0;

  .status {
    margin-bottom: 10px;
    color: #bbb;
  }
}
